# Ignore local Terraform cache and state files everywhere in the monorepo
**/.terraform/
**/*.tfstate
**/*.tfstate.backup

**/*.tfvars

# Ignore OS specific files
.DS_Store
Thumbs.db

# Ignore real app config values
config/llc-site/prod/config.json

# Ignore IDE settings
.vscode
