aws_region          = "us-west-1"
project_name        = "llc-site"
site_bucket_name    = "your-bucket-name"
environment         = "prod"
domain_name         = "example.com"
hosted_zone_id      = "Z1234567890ABCDE"
acm_certificate_arn = "arn:aws:acm:us-east-1:123456789012:certificate/00000000-0000-0000-0000-000000000000"

tags = {
  Owner       = "Eric"
  Project     = "llc-site"
  Environment = "prod"
  ManagedBy   = "Terraform"
}
